<div class="col-xs-12 col-md-4 aircraft-item">
          <img src="{{imageUrl}}">
          <h4>{{name}}</h4>
          <p class="aircraft-item-summary">{{description}}</p>
          <button href="/private/{{id}}">View Aircraft</button>
        </div>