<div class="card-action center-align white-text">
    <div class="card-content black-text center-align"><h5>Thanks for choosing Vol.</h5></div>
    <p>A representative will be contacting you shortly with your personalized quote!
        And as always, safe travel.
    </p>
</div>