<div class="card-action center-align white-text">
    <h3>Thanks for choosing Vol.</h3>
    <p>A representative will be contacting you shortly with your personalized quote!
        And as always, safe travel.
    </p>
</div>