
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Private Jets</title>

    </head>



<header>
</header>
<!-- // This will be the first section -->
<body>
  <div class="col s12 ">
   
    <div class="card horizontal ">
      <div class="card-image">
        <img src="resources/inside.jpeg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <p>
            <h4> Fly anywhere you need to go, any time of day or night without the hassle of mainstream airlines! </h4>
            <ul>
                <p>
                    <h6> &#10003; Complete discretion when using our services. Where you fly and your reasons are none of our
                    concerns!</h6>
                </p>
                <p>
                     <h6>&#10003; Customs? What Customs?!</h6>
                </p>
                <p>
                     <h6>&#10003; Bring guests or fly solo.</h6>
                </p>
                <p>
                    <h6> &#10003; Need a quick flight ASAP? We've got you handled!</h6>
                </p>
            </ul>
            </p>


        </div>
     
      </div>
    </div>
  </div>
  <div class="col s12 " >
    

    <div class="card horizontal" >
      <div class="card-image" >
        <img src="resources/clouds.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content" >
    <div>
      
                <h4>Your Flight, Your Way!</h4>
                <p>
                   <h6>&#10003; Our private jet charter service gives you the freedom to choose your aircraft on your
                    terms. </h6>
                </p>
                  <p>
                    <h6>&#10003; Enjoy global access, and let our expert team take care of every detail.</h6>
                </p>
            </div>

        </div>
    </div>
</div>
</div>


  <h4 class = "center">How It Works</h4>

  <section class = "section section-icons grey lighten-4 center">
  <div class = "container">
    <div class ="row">
     
    <div class = "col s12 m4">
        <div class = "card-panel">
      <h3 class= "brown-text">1</h3>
       
        <h5> First, send us your flight request</h5>
        <p> Contact our team 24/7 with your flight request and preferences.</p>

      </div>
    </div>
     <div class = "col s12 m4">
        <div class = "card-panel">
       <h3 class= "brown-text">2</h3>
        <h5> Receive your personalized quote</h5>
        <p> Oour recommended aircraft options in a custom proposal. </p>

      </div>
    </div>
     <div class = "col s12 m4">
        <div class = "card-panel">
        <h3 class= "brown-text">3</h3>
       
        <h5> The final step, book your flight!</h5>
        <p> Your dedicated Account Manager will take care of all the details. </p>

      </div>
    </div>
  </div>
</div>
</section>


  <h4 class = "center">Pick from our selection of private planes</h4>

      


  <section class = "section section-icons grey lighten-4 center">
  <div class = "container">
   
<div class="row">
     <div class = "col s12 m6">
        <div class = "card">
            <div class="card-image">
            <img src = "resources/cessna.jpg">
      <span class ="card-title">Cessna Citation Mustang</span>
     </div>
       <div class="card-content">
        <h5> Description:</h5>
      </div>
      <div class="card-action">
 <button class = "btn btn-dark">Book Now!</button>
      </div>
    </div>
</div>

<div class="row">
      <div class = "col s12 m6">
        <div class = "card">
            <div class="card-image">
                 <img src = "resources/embraer.png">
                 <span class ="card-title">Embraer Phenom 100</span>
                  </div>
         <div class="card-content">
        <h5> Description:</h5>
        
      </div>
      <div class="card-action">
 <button class = "btn btn-dark">Book Now!</button>
      </div>
    </div>
</div>
</div>



</section>
<section class = "section section-icons grey lighten-4 center">
  <div class = "container">
   
<div class="row">
     <div class = "col s12 m6">
        <div class = "card">
            <div class="card-image">
            <img src = "resources/hondajet.jpg">
      <span class ="card-title">HondaJet</span>
     </div>
       <div class="card-content">
        <h5> Description:</h5>
      </div>
      <div class="card-action">
 <button class = "btn btn-dark">Book Now!</button>
      </div>
    </div>
</div>

<div class="row">
      <div class = "col s12 m6">
        <div class = "card">
            <div class="card-image">
                 <img src = "resources/citationM2.jpg">
                 <span class ="card-title">Cessna Citation M2</span>
                  </div>
         <div class="card-content">
        <h5> Description:</h5>
        
      </div>
      <div class="card-action">
 <button class = "btn btn-dark">Book Now!</button>
      </div>
    </div>
</div>
</div>



</section>
 
            <div>
         
                <h4 class="quote-title">Read what our customers have to say:</h4>
               
                <p>Donald Sutherland - "Never in my life, have I experienced such a high quality, professional plane service. It beats even
                    the finest of first class services.
                    If you need a quick get-a-away or just a business plane service... look no further than VOL!"
                </p>
            </div>

  
  
            <div>
                
                {{#each privateOptions as |privateOption|}}
                {{>private-option privateOption}}
                {{/each}}
            </div>